body, html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

#screen {
    height: 100%;
}

#screen, .tab-bar {
    max-width: calc(750px * 2 / 3);
    background: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.header {
    width: 100%;
    height: calc(128px * 2 / 3);
    background: #0f77db;
}

.status-bar {
    width: 100%;
    height: 25px;
}

.top-bar {
    height: calc(100% - 25px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    display: inline-block;
    padding-left: 5px;
}

.cart:before {
    content: '';
    display: block;
    height: 35px;
    width: 35px;
    background: url("icons/cart.svg") no-repeat 0% 0%;
    background-size: cover;
}

.search-bar {
    flex: 1;
    margin-left: 30px;
    margin-right: 80px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    color: #fff;
}

.search-bar::-webkit-input-placeholder {
    color: #fff;
    text-align: center;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
    margin-bottom: 63.66px;
}

.hero {
    width: 100%;
    position: relative;
    background: url("images/hero-bg.jpg") no-repeat;
    background-size: 100%;
    min-height: 2px;
    margin: 0;
    padding: 0;
    height: calc(294px * 2 / 3);
}

.hero:before {
    content: '';
    padding-bottom: 39.2%;
    display: block;
    position: absolute;
    background-color: rgb(18, 160, 234);
}

.banner {
    background: url("images/checkin-bg.png") no-repeat;
    background-size: 100%;
    width: 100%;
    position: relative;
    height: calc(142px * 2 / 3);
}

.banner .more {
    text-decoration: underline;
    color: #fff;
    position: absolute;
    left: 28px;
    top: 5px;
    display: block;
}

.banner .more:after {
    content: ' >';
    display: inline-block;
    padding-left: 5px;
}

.check-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.check-in > span {
    display: block;
    font-size: calc(72px * 2 / 3);
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(211,36,36);
}

.details {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.details .today, .details .suffix {
    color: #fff;
    font-size: calc(34px * 2 / 3);
    font-weight: 300;
}

.details .today {
    padding-right: 100px;
}

.details .suffix {
    transform: translateX(20px);
}

.check-in-button {
    background: url("images/checkin-button.png") no-repeat;
    background-size: 100%;
    width: 90px;
    height: 90px;
    margin: 0;
    transform: translateX(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}

.check-in-button span {
    font-size: calc(34px * 2 / 3);
    color: rgb(211, 36, 36);
}

.guide {
    margin: calc(22px * 2 / 3) 0;
    width: 100%;
    height: calc(96px * 2 / 3);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid rgb(18, 160, 234);
    text-align: center;
}

.guide-item {
    flex: 1;
    position: relative;
    cursor: pointer;
}

.guide-item > span {
    font-size: 18px;
    transform: translateY(3px);
    display: block;
}

.guide-item i {
    color: rgb(18, 160, 234);
}

.guide-item.selected:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: calc(-100% - 5px);
    border-top: 13px solid rgb(18, 160, 234);
    width: 100%;
}

.tab-bar {
    display: flex;
    flex-direction: row;
    background: #fff;
    height: calc(94px * 2 / 3);
    text-align: center;
    justify-content: center;
    border-top: 1px solid rgba(20, 20, 20, .9);
    z-index: 99;
}

.tab-item {
    flex: 1;
    cursor: pointer;
}

.tab-item > * {
    display: block;
    color: rgb(105, 105, 105);
}

.tab-item span {
    margin-top: 3px;
    font-size: calc(22px * 2 / 3);
}

.tab-item.selected span, .tab-item.selected i {
    color: rgb(18, 160, 234);
}

.tab-item i {
    font-size: 32px;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.bottom-pos {
    bottom: 0;
    width: 100%;
}